@charset "UTF-8";

/*CONFIGURAÇÕES GLOBAIS*/
*{
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*CONFIGURAÇÕES DO CABEÇALHO*/
header{
    padding: 20px;
    text-align: center;
    background-color: black;
    color: white;
}

header > h1{
    margin-bottom: 10px;
}


/*CONFIGURAÇÕES DE MAIN*/
main{
    margin: 10px;
    max-width: 1300px;
}

main > section#area-pesquisa, main > section#area-card-filme{
    background-color: lightgray;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
}

main > section#area-pesquisa > p > input{
    width: 73%;
    margin: 10px 10px 0px 0px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.473);
    padding: 2px;
}

main > section#area-pesquisa > p > button#btn-pesquisa{
    background-color: white;
    padding: 3px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.473);
    cursor: pointer;
}

main > section#area-pesquisa > p > button#btn-pesquisa:hover{
    background-color: rgba(255, 255, 255, 0.418);
}   

main > section#area-card-filme{
    min-height: 70vh;
    text-align: center;
}

main > section#area-card-filme > div#card-filme > div#card-poster{
    text-align: center;
}

main > section#area-card-filme > div#card-filme > div#card-poster > img{
    border: 5px solid black;
    border-radius: 10px;
    width: 90%;
}

main > section#area-card-filme > div#card-filme > p#card-info{
    margin-top: 10px;
    line-height: 2em;
    text-align: justify;
}
/*CONFIGURAÇÕES DE RODAPÉ*/
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 3px;
}

footer > p > a{
    color: white;
    text-decoration: none;
}

footer > p > a:hover{
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.479);
}

@media screen and (min-width: 930px) and (max-width: 1299px) {
    main > section#area-card-filme > div#card-filme > div#card-poster > img
    {
        width: 70%;
    }
}

@media screen and (min-width: 1300px) {
    body{
        font-size: 1.5em;
    }
    
    main{
        margin: 10px auto;
    }

    main > section#area-pesquisa > p > input{
        width: 60%;
        height: 20px;
    }

    main > section#area-card-filme > div#card-filme > div#card-poster > img
    {
        width: 70%;
    }
} 